"Please enter a valid integer.": "Zadejte platné celé číslo."
"Please enter a value between %d and %d.": "Zadejte hodnotu v rozmezí od %d do %d."
"This field is required.": "Toto pole je povinné."
"Please enter a valid email address.": "Prosím zadejte platnout e-mailovou adresu."
"Date format is invalid/incorrect.": "Špatný formát."
"The size of the uploaded file can be up to %d bytes.": "Velikost nahrávaných souborů může být maximálně %s bajtů."
