parameters:
    exceptionRules:
        uncheckedExceptions:
            - ArithmeticError
            - Brick\DateTime\DateTimeException
            - Brick\Math\Exception\MathException
            - Brick\Money\Exception\UnknownCurrencyException
            - Doctrine\ORM\Query\QueryException
            - LogicException
            - Nette\Application\AbortException
            - Nette\Application\BadRequestException
            - Nette\Application\UI\InvalidLinkException
            - Nette\DI\MissingServiceException
            - Nette\IOException
            - Nette\InvalidStateException
            - PHPUnit\Framework\Exception
            - ReflectionException
            - OutOfBoundsException
            - Safe\Exceptions\ArrayException
            - Safe\Exceptions\FilesystemException
            - Safe\Exceptions\JsonException
            - Safe\Exceptions\PcreException
            - Safe\Exceptions\StringsException
    ignoreErrors:
        - '#PHPDoc tag @throws with type .* is not compatible with parent#'
        - '#PHPDoc type string of property .*::\$defaultName is not the same as PHPDoc type string\|null of overridden property Symfony\\Component\\Console\\Command\\Command::\$defaultName\.#'
        - '#Property .* type has no value type specified in iterable type (array|iterable).*#'
        - '#.* has parameter \$\w+ with no value type specified in iterable type (array|iterable).*#'
        - '#.* return type has no value type specified in iterable type (array|Traversable).*#'
        - '#VsPoint\\Infrastructure\\Kdyby\\FakeSession\\Session::__construct\(\) does not call parent constructor from Nette\\Http\\Session.#'
