extensions:
    webpack: Contributte\Webpack\DI\WebpackExtension(%debugMode%)

webpack:
    build:
        directory: %wwwDir%/dist
        publicPath: /

    devServer:
        enabled: %debugMode%
        url: http://localhost:3060

    manifest:
            name: manifest.json
