# https://github.com/contributte/doctrine-cache/tree/master/.docs

extensions:
    nettrine.cache: Nettrine\Cache\DI\CacheExtension

nettrine.cache:
#    adapter: Symfony\Component\Cache\Adapter\FilesystemAdapter(%tempDir%/cache/nettrine-cache)
#    driver: Symfony\Component\Cache\Adapter\ApcuAdapter()
