extensions:
    nettrine.dbal: Nettrine\DBAL\DI\DbalExtension

nettrine.dbal:
    debug:
        panel: %debugMode%
    # configuration:
    #     sqlLogger: Nettrine\DBAL\Logger\PsrLogger
    connections:
        default:
            driver: %database.driver%
#            url: %database.url%
            host: %database.host%
            port: %database.port%
            user: %database.username%
            password: %database.password%
            dbname: %database.dbname%
            serverVersion: '17.4'
            charset: UTF8
    types:
        uuid: Ramsey\Uuid\Doctrine\UuidType
        BigDecimal: Solcik\Doctrine\DBAL\Type\BigDecimalType
        BigInteger: Solcik\Doctrine\DBAL\Type\BigIntegerType
        brick_localdate: Solcik\Doctrine\DBAL\Type\LocalDateType
        brick_localdatetime: Solcik\Doctrine\DBAL\Type\LocalDateTimeType
        brick_zoneddatetime: Solcik\Doctrine\DBAL\Type\ZonedDateTimeType
        brick_localtime: Solcik\Doctrine\DBAL\Type\LocalTimeType
        brick_yearmonth: Solcik\Doctrine\DBAL\Type\YearMonthType
