extensions:
    nettrine.orm: Nettrine\ORM\DI\OrmExtension

nettrine.orm:
    managers:
        default:
            connection: default
#            proxyDir: %tempDir%/proxy
            autoGenerateProxyClasses: %orm.proxy.autogenerate%
            proxyNamespace: VsPoint\Entity\Proxy
            customNumericFunctions:
                random: \VsPoint\Infrastructure\Doctrine\ORM\Query\AST\Functions\RandomFunction
            mapping:
                VsPoint\Entity:
                    directories: [%appDir%/Entity]
                    namespace: VsPoint\Entity
