{templateType VsPoint\Http\Web\Front\HomepageTemplate}
{var $T = 'front.' . VsPoint\Http\Web\Front\HomepagePresenter::class}

{block title}
    {_"$T.heading.h1"}
{/block}

{block h1}
    {_"$T.heading.h1"}
{/block}

{block toolbar}
{/block}

{block content}
{/block}
