extensions:
    nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension

nettrine.migrations:
    table: aa_migrations
    column: version
    versionsOrganization: null
    directories:
        VsPoint\Database\Migration: %appDir%/Database/Migration
