extensions:
    nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension

nettrine.migrations:
    table: aa_migrations
    column: version
    directory: %appDir%/Database/Migration
    namespace: VsPoint\Database\Migration
    versionsOrganization: null
