parameters:
    app:
        name: vspoint/web
        url: ::getenv(APP_URL)

    database:
        driver: ::getenv(DB_DRIVER)
        host: ::getenv(DB_HOST)
        port: ::getenv(DB_PORT)
        username: ::getenv(DB_USER)
        password: ::getenv(DB_PASS)
        dbname: ::getenv(DB_NAME)

    languages:
        - cs

    storage:
        prefix: '/storage'
