parameters:
    app:
        name: vspoint/web
        url: ::getenv(APP_URL)

#    database:
#        driver: %env.DB_DRIVER%
#        url: ::getenv(DATABASE_URL)
#        url: %env.DATABASE_URL%
#        host: %env.DB_HOST%
#        port: %env.DB_PORT%
#        username: %env.DB_USER%
#        password: %env.DB_PASS%
#        dbname: %env.DB_NAME%

    languages:
        - cs

    storage:
        prefix: '/storage'
