{var $T = 'admin.' . VsPoint\Http\Web\Admin\ErrorPresenter::class . ':4xx'}

{block title}
    {_"$T.heading.h1"}
{/block}

{block h1}
    {_"$T.heading.h1"}
{/block}

{block content}
    <p>{_"$T.message"}</p>
{/block}
