{templateType VsPoint\Http\Web\Admin\Acl\SignInTemplate}
{var $T = 'admin.' . VsPoint\Http\Web\Admin\Acl\SignInPresenter::class}

{block title}
    {_"$T.heading.h1"}
{/block}

{block h1}
    {_"$T.heading.h1"}
{/block}

{block toolbar}
{/block}

{block content}
    <div class="col-sm-12 offset-sm-0 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 col-xxl-4 offset-xxl-4">
        {control signInForm}
    </div>
{/block}
